<!-- BEGIN entity_view -->
<div id="shop-order">
{ENTITY_VIEW}
</div>
<!-- END entity_view -->
<!-- BEGIN mailing -->
{MAILING}
<!-- END mailing -->
<!-- BEGIN shop_order_detail -->
<div id="shop-order">
    <!-- BEGIN shop_order_info -->
    <div id="shop-order-info">
        {SHOP_ORDER_INFO}
    </div>
    <!-- END shop_order_info -->
    <!-- BEGIN shop_order_billing -->
    <div id="shop-order-billing">
        {SHOP_ORDER_BILLING}
    </div>
    <!-- END shop_order_billing -->
    <!-- BEGIN shop_order_shipping -->
    <div id="shop-order-shipping">
        {SHOP_ORDER_SHIPPING}
    </div>
    <!-- END shop_order_shipping -->
    <!-- BEGIN shop_order_payment -->
    <div id="shop-order-payment">
        {SHOP_ORDER_PAYMENT}
    </div>
    <!-- END shop_order_payment -->
    <!-- BEGIN shop_order_items -->
    <div id="shop-order-items">
        {SHOP_ORDER_ITEMS}
    </div>
    <!-- END shop_order_items -->
    <!-- BEGIN shop_order_note -->
    <div id="shop-order-note">
        {SHOP_ORDER_NOTE}
    </div>
    <!-- END shop_order_note -->
</div>
<!-- END shop_order_detail -->

